.DS_Store
*.class
*.*~
*.classpath
.metadata
*.project
bin
doc
presentation/presentation.log

presentation/presentation.dvi

presentation/presentation.aux

presentation/presentation.out

presentation/presentation.pdf

presentation/presentation.nav

presentation/presentation.snm

presentation/presentation.synctex.gz

presentation/presentation.toc
